 

/* styles.scss */
.iframeResponsevi {
    /* height: 350px; */
    height: 700px;
    margin: 0 auto;
}

.logoCss{
    /* height: , */
    width:10px,
}


.Carousel-wapper {
    height: 40px;
    min-height: 400px;
}

@media (max-width: 768px) {
    .iframeResponsevi {
        height: 100%;
    }
    .logoCss{
        /* height: , */
        width:0.9rem,
    }

    .Carousel-wapper {
        height: 180px;
        height: 250px;
        min-height: 40px;
    }
}
